* {
	margin: 0;
	padding: 0;
}


body {
	background:#222;
	color:#eee;
	font-family: 'Questrial', sans-serif;
	font-size: 24px;
	margin: 20% auto;
	text-align: center;
	width: 100%;
}

#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px; 
}

#top { top: 0; }
#bottom { bottom: 0;}

#container {
	margin: 0 auto;
	width: 80%;

}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	line-height: 1em;
	letter-spacing: 2px; 
	margin: 2% 0;

}

h1 span {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 1.5em;
}

hr {
	margin: 1em;

}

nav {
	padding: .5em;

}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	color: #cc6699;
	text-decoration: underline;
}

nav a {
	color: #CC9966;
	display: inline-block;
	padding-right: 1em;
}

p {
	width: 960px;
	margin: 2% auto;
	line-height: 40px;
}


@media screen and (max-width: 1028px) {

	h1 {
		padding: 0 2% 0 0;
		font-size: 5em;
	}

	h1 span {
		display: block;
		padding: 10% 0 2% 0;
	}
	
	#container p {
		width: 100%;
		padding: 1% 0;
		margin: 10% 0;
		font-size: 3em;
		line-height: normal;
	}

	body a {color: #CC9966;}

	body nav a { 
		color: #CC6699;
		display: block;
		padding: 1% 0;
		font-size: 3em;
	}
}


