/*import fonts*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body,a{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

body {
  font-size: 18px;
}

#logo a{
  position: absolute;
  top:0;
  left:40%;
  background-image: url(images/logoteal.png);
  display:block;
  height: 72px;
  width: 144px;
  text-indent: -9999px;
  z-index: 1;
}

#logo a:hover{
  background-position: 0 -72px;  
}

#ham{
  display:none;
 /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: -10px;*/
}

nav {
  display: block;
  position: relative;
  margin: 20px;
  width: 100%;
  height:110px; 
}

nav a {
  text-decoration: none;
  color: #1C1BBD;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .7em;
  margin: 0 15px;
  -webkit-transition: all 0.25s ease; 

}

nav a:hover {
  color:#31EBEA; 
   -webkit-transition: all 0.25s ease;  
  border-bottom: 10px solid #31EBEA;
}

section {
  position: relative;
  width:100%;
  height: 100%;
  max-height:1100px;
  min-height: 400px; 
  overflow: hidden;
}

#landing{
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
  background: url(images/landing.jpg);
  background-size: cover;
  display: block;
}

#landing #rock {
  background: url(images/rock.png);
  display: block;
  width: 518px;
  height: 410px;
  margin: 0 auto;
}


#landing #flow a {
  background: url(images/arrow.png);
  display: block;
  margin: 5% auto;
  width: 80px;
  height: 64px;
  text-indent: -9999px;
}

#ninos{
  position: relative;
  width:100%;
  height: 100%;
  overflow: hidden;
  background-color:#EEEEEE;
  max-height: 600px;
}

#ninos #bio {
  margin: 15% auto 5% auto;
  line-height: 33px;
  width: 80%;
  letter-spacing: 2px;
  color:#1C1BBD;
  text-align:center;
  transform: translateY(-50%);
}


#ninos ul {
  display: block;
  width: 63%;
  margin: 0 auto;
}

#ninos ul a{
  float: left;
  width:25%;
  min-width: 110px;
  letter-spacing: 2px;
  height: auto;
  padding: 25px 5px;
  border: 2px solid #1C1BBD;
  text-decoration: none;
  text-align: center;
  color:#1C1BBD;
}

#ninos ul a:hover{
  -webkit-transition: all .25s ease;
  color: #EEEEEE;
  background-color:#1C1BBD;
}

#fbook a,#insta a{
  margin-right: 12.5%;
}

 .container{
  position:absolute;
  margin:auto;
  width: 70%;
  height:300px;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}

 #vinyl {
  position: relative;
  float:left;
  width: 50%;
  height: 15em;
 }

 #vinyl img{
    width:480px; /* you can use % */
    height: auto;
}

 #stack {
  position: relative;
  float:right;
  width:250px;
  height: auto;
  margin-top:6%;
  color: #1C1BBD;
  margin-right: 15px;
 }

#stack li a{
  display: block; 
  float:left;
  text-align: center;
  width:100%;
  min-width: 110px;
  min-width: 110px;
  height: auto;
  padding: 25px 5px;
  border: 2px solid #1C1BBD;
  text-decoration: none;
  color:#1C1BBD;
  margin-bottom: 15%; 
}

 #stack a:hover{
  -webkit-transition: all .25s ease;
  background-color:#1C1BBD;
  color: #e1b3ae;
 }

#stream{
  top:65px;
 }

#calendar{
  height: 90%;
  background-color: #EEEEEE; 
}
#calendar table{
  width:70%;
  height:45%;
  margin: 0 auto;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

#calendar table tr,a{
 text-decoration: none;
 color:#1C1BBD; 
 letter-spacing:2px;
 }

 .else{
  text-align: left;
 }

 .date{
  text-align: center;
 }
 
 #calendar tr a:hover{
  -webkit-transition: all .25s ease;
  color:#31EBEA;
 
 }

footer{
  width:100%;
  height: 50%;
  max-height:465px;
  min-height: 465px; 
  overflow: hidden;
  background-color:#1C1BBD; 
}
footer a,span{
  color:#ECB0A4;
  letter-spacing: 3px;
}
footer span{
  font-size: .66em;
}
footer ul {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
footer hr{
 width:40px;
 height: 2px;
 border: none;
 background-color: #E3B3AC;
}
footer li{
  margin-bottom: 100px;
}

#ninos{
  min-height: 600px;
}

#sound{
  height:80%;
  min-height: 700px;
  max-height: 900px;
  position: relative;
  background-color: #ECB0A4;
}

#landing{
  min-height: 630px;
}

#calendar{
  max-height: 900px;
}